* {
    box-sizing: border-box;
}

body {
    height: calc(100vh - 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.content {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    width: 320px;
    height: 497px;
    border-radius: 20px;
    text-align: center;
}

h2 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

img {
    width: 100%;
    border-radius: 10px;
}


p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.attribution {
    position: relative;
    bottom: 0;
}
