/* * {
    box-sizing: border-box;
}

body {
    height: calc(100vh - 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.content {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    width: 320px;
    height: 497px;
    border-radius: 20px;
    text-align: center;
}

h2 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

img {
    width: 100%;
    border-radius: 10px;
}


p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.attribution {
    position: relative;
    bottom: 0;
}
 */

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #D5E1EF;

}

.content {
    display: flex;
    width: 320px;
    height: 497px;
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.103);
}

img {
    height: 288px;
    width: 288px;
    margin-top: 20px;
    border-radius: 10px;
}

h2 {
    margin: 20px 15px;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #1F314F;
}

p {
    margin: auto 30px;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    color: #7D889E;
    flex-wrap: wrap;
}
